<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:isScrollContainer="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TopResale"
        android:windowSoftInputMode="stateVisible"
        tools:targetApi="31">
        <activity
            android:name=".View.ConfiguracionActivity"
            android:exported="false"
            android:parentActivityName=".View.PerfilActivity"/>
        <activity
            android:name=".View.FavoritosActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName=".View.PerfilActivity" />
        <activity
            android:name=".View.DetallesProductoEspecificoActivity"
            android:exported="false"
            android:parentActivityName=".View.ProductoEspecificoActivity" />
        <activity
            android:name=".View.ProductoEspecificoActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName=".View.MainActivity" />
        <activity
            android:name=".View.AyudaActivity"
            android:exported="false"
            android:parentActivityName=".View.PerfilActivity" />
        <activity
            android:name=".View.PerfilActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName=".View.MainActivity" />
        <activity
            android:name=".View.MainActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".View.PantallaDeCargaActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.TerminosActivity"
            android:exported="false"
            android:parentActivityName=".View.RegisterActivity" />
        <activity
            android:name=".View.RegisterActivity"
            android:exported="false"
            android:parentActivityName=".View.LogInActivity" />
        <activity
            android:name=".View.LogInActivity"
            android:exported="true" />
    </application>

</manifest>