<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TopResale"
        android:windowSoftInputMode="stateVisible"
        android:isScrollContainer="false"
        tools:targetApi="31">
        <activity
            android:name=".ViewModel.FavoritosActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ViewModel.PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".ViewModel.DetallesProductoEspecificoActivity"
            android:exported="false"
            android:parentActivityName=".ViewModel.ProductoEspecificoActivity" />
        <activity
            android:name=".ViewModel.ProductoEspecificoActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName=".ViewModel.MainActivity" />
        <activity
            android:name=".ViewModel.AyudaActivity"
            android:exported="false"
            android:parentActivityName=".ViewModel.PerfilActivity" />
        <activity
            android:name=".ViewModel.PerfilActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName=".ViewModel.MainActivity" />
        <activity
            android:name=".ViewModel.MainActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ViewModel.PantallaDeCargaActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewModel.TerminosActivity"
            android:exported="false"
            android:parentActivityName=".ViewModel.RegisterActivity" />
        <activity
            android:name=".ViewModel.RegisterActivity"
            android:exported="false"
            android:parentActivityName=".ViewModel.LogInActivity" />
        <activity
            android:name=".ViewModel.LogInActivity"
            android:exported="true" />
    </application>

</manifest>